################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sauto/build/lib/__pycache__
/sauto/dist
/sauto/SimpleAutomation.egg-info
